{% extends "template.html" %}

{% set page="inner" %}

{% block meta %}
  <title>Restaurantly Bootstrap Template - Inner Page</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
{% endblock %}

{% block content %}

  <main id="main">
    <section class="breadcrumbs">
      <div class="container">
    
        <div class="d-flex justify-content-between align-items-center">
          <h2>Inner Page</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Inner Page</li>
          </ol>
        </div>
        
      </div>
    </section>

    <section class="inner-page">
      <div class="container">
        <p>
          Example inner page template
        </p>
      </div>
    </section>

  </main><!-- End #main -->

{% endblock %}
